<h1>About</h1>
<p>
CivicSpaces is a site to help active citizens, artists and nonprofits find unused spaces to host their events an ddisplay their crative work. We serve as a conduit, connecting owners of empty spaces with people who want to fill them for a shorty-term project, event or activity.

Building owners who have vacant storefronts, office space or even empty lots can offer their space through CivicSpaces to attract artists and nonprofits to fill them with life for a short time period.

There are many studies showing that active spaces are more attractive and easier to rent than empty ones. Additionally having active offices and storefronts can lead to increased foot traffic, increase an areas visibility and reducing crime. We want to keep our city vibrant, one empty space at a time.
</p>