<h1>Citizens</h1>
<p>Individuals and organizations like you constantly need space to grow ideas. Office space to work in. Event space for fundraisers. A vacant lot to grow food on. CivicSpaces can pair you with empty properties around Atlanta. We allow you to find properties that fit your needs, location, size and use and best of all that fit your budget. Our participating spaces range from free to medium rental costs. Search our database, find a property that matches your need and connect!</p>
