<% provide(:title, 'Home') %>
<h1>Welcome to CivicSpacesHome</h1>
<h2>a way to connect active citizens to unused spaces in the city.</h2>
<p>Some image</p>
<h2> Find a space to grow your idea or event!
<h3>Community groups can search for and connect with empty offices, storefronts or even vacant lots and fill them with their events and activites. Spaces range from free to medium in cost and vary in neighborhood, size and  functionality.

